@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #64ffda;
}

.dropdown:hover > .dropdown-content {
  display: block !important;
}

@layer components {
  .navbarContainer {
    @apply w-full h-20 lg:h-[12vh] lg:pt-10 top-10 z-50 bg-transparent text-white px-4
  }
  .navbarContainerLayout {
    @apply max-w-container h-full mx-auto py-1 font-titleFont flex items-center justify-between
  }

  .navbarLayout {
    @apply 
    xs:h-12 xs:w-12 
    sm:h-20 sm:w-20 
    mdl:h-20 mdl:w-32
    lg:h-28 lg:w-36
    mt-2
  }

  .navbarSubLayout {
    @apply 
    xs:h-12 xs:w-12 
    sm:h-20 sm:w-20
    sm:ml-2 sm:mt-2 
    bg-white rounded-lg
    mdl:h-20 mdl:w-24
    lg:h-20 lg:w-20
    lg:mt-4 lg:pr-1
    lg:ml-4
  }

  .navbarMainDropdown {
    @apply flex items-center gap-1 hover:text-textGreen cursor-pointer duration-300 
  }

  .navbarSubDropdown {
    @apply absolute hidden text-gray-600 lg:w-80 bg-white text-lg lg:rounded-lg space-y-2 p-2 shadow-bannerFormShadow 
  }

  .navbarSubSubDropdown {
    @apply  ml-40 absolute hidden text-gray-600 lg:w-80 bg-white text-lg lg:rounded-lg space-y-2 p-2 shadow-bannerFormShadow 
  }

  .searchBtnBannerHomePage {
    @apply rounded-xl bg-btnPrimary text-white sm:py-4 px-10 h-[50%] float-right sm:w-full lg:w-[60%];
  }

  .formBannerHomePage {
    @apply mr-4 w-full border-b xl:border-r border-[#EFEFEF] lg:py-10 sm:py-4;
  }

  .homepageHeader {
    @apply w-full 
    h-screen 
    bg-cover
    bg-heroResponsiveBg 
    bg-no-repeat 
    bg-center
    lg:bg-heroBackground;
  }

  .homepageFilter {
    @apply py-2 appearance-none rounded-xl flex-auto w-full bg-transparent xl:w-full text-textPlaceholder leading-tight focus:outline-none;
  }

  .customHeader {
    @apply w-full 
      h-screen 
      bg-contain
      bg-heroResponsiveBg 
      bg-no-repeat 
      sm:bg-cover
      lg:bg-cover
      lg:bg-top
      lg:bg-heroBackground2;
  }

  .customSection {
    @apply max-w-contentContainer 
        mx-auto 
        py-10 
        flex 
        flex-col 
        gap-4
        sm:w-[90%]
        mdl:w-[90%]
        lg:py-24 
        xl:px-4 
        xl:mt-20
        lgl:gap-8;
  }

  .bannerLayout1 {
    @apply max-w-contentContainer
    bg-white shadow-bannerFormShadow 
    sm:w-[90%] 
    mdl:w-[90%]
    rounded-3xl mt-10 mx-auto pt-10 sm:mb-20;
  }

  .bannerLayout2 {
    @apply max-w-contentContainer
    bg-white shadow-bannerFormShadow 
    sm:w-[90%] 
    mdl:w-[90%]
    rounded-3xl mt-10 mx-auto sm:pt-6 lg:pt-10 sm:mb-20;
  }

  .bannerLayout3 {
    @apply max-w-contentContainer sm:mx-auto lg:mx-32
    sm:w-[90%] sm:mt-10
    flex flex-col gap-4;
  }

  .bannerLayout4 {
    @apply w-full 
    h-screen 
    bg-contain
    bg-heroResponsiveBg 
    bg-no-repeat 
    sm:bg-cover
    lg:bg-cover
    lg:bg-top
    lg:bg-heroBackground2;
  }

  .bannerLayout5 {
    @apply max-w-contentContainer 
    mx-auto 
    py-10 
    flex 
    flex-col 
    gap-4
    sm:w-[90%]
    mdl:w-[90%]
    lg:py-24 
    xl:px-4 
    xl:mt-20
    lgl:gap-8;
  }

  .linkViewAll {
    @apply text-colorSecondary inline-block align-bottom lg:text-lg sm:text-sm cursor-pointer hover:border-b hover:border-colorSecondary;
  }

  .linkViewAllDisabled {
    @apply text-gray-600 inline-block align-bottom lg:text-lg sm:text-sm cursor-pointer ;
  }

  .customLayoutContent {
    @apply max-w-contentContainer
        sml:pt-20
        lg:py-10 
        lg:mt-40
        xl:mt-0 xl:pt-0
        lgl:py-32 
        sm:w-[90%] 
        mdl:w-[90%]
        bg-white 
        shadow-bannerFormShadow 
        rounded-3xl 
        mt-10 
        mx-auto 
        py-10 
        sm:mb-20;
  }

  .customFooter {
    @apply bg-blackWaveBackground 
    lg:bg-blackWaveBackground 
    lg:bg-transparent
    sm:bg-[#141721] 
    bg-no-repeat 
    bg-cover
    bg-center;
  }

  .dateIcon {
    @apply sm:text-sm lg:text-xl sm:mr-1 lg:mr-2 mt-0.5 text-[#FF4E4E];
  }

  .titlePage {
    @apply text-4xl lgl:text-5xl font-titleFont font-semibold text-white;
  }

  .breadcumbPage {
    @apply text-lg md:max-w-[630px] font-medium text-white;
  }

  .titleContent {
    @apply sm:text-xl lg:text-4xl sm:pb-10 lg:pb-8;
  }

  .textContent {
    @apply sm:text-sm lg:text-lg text-justify;
  }

  .textFilterInnerBox {
    @apply px-4 py-4 appearance-none rounded-xl flex-auto w-full bg-transparent border border-[#EBEBEB] xl:w-full text-textPlaceholder leading-tight focus:outline-none;
  }

  .dropdownCustom {
    @apply dropdown-content hidden absolute right-0 z-10 w-full origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
  }

  .dropdownValueCustom {
    @apply text-gray-700 cursor-pointer hover:bg-slate-100 block px-4 py-2 text-sm;
  }
}
